<p class="text-success">
  success-alert works!
</p>
<hr>
<h4>Here's a question:</h4>
<ul>
  <h6>manually added component</h6>
  <li>I manually added the warningAlert component and named it in a camelCase format, so<br><span class="bg-info"> the selector in warningAlert.component.ts is named <br>app-warningAlert.</span></li>
  <h6>CLI added component</h6>
  <li>When creating the successAlert component I entered this command in the terminal: <code class="bg-info">ng g c successAlert</code> ,so<br><span class="bg-info"> the selector in success-alert.component.ts is named <br>app-success-alert.</span></li>
  <li>The folder name that got created was success-alert (notice the  dash) and all the file names have the same type of naming (not camelCase as I used in the command.</li>
  <li class="text-danger bg-warning">What's the proper way to name components when there are multiple words in the name?</li>
</ul>
